.upper{
    background-color: red;
    width: 300px;
    height: 250px;
    border: solid 10px;
    text-align: center;
    
   
   
}
.mid{
    background-color: yellow;
    width: 300px;
    height: 250px;
    border: solid 10px;
    margin-left: 320px;
    text-align: center;    
}
.bottom{
    background-color: grey;
    width: 300px;
    height: 250px;
    border: solid 10px;
    margin-left: 640px;
    text-align: center;
}