<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <!-- <% if(KindOfDay==="saturday" || KindOfDay==="sunday"){ %>
    <h1 style="color: red">It's a <%=KindOfDay%>! </h1>
   <% } else { %>
    <h1 style="color: green">It's a <%=KindOfDay%>! </h1>
  <% } %> -->

  <h1> <%=KindOfDay%> </h1>


  <ul>
      <!-- <li>buy food</li>
      <li>cook food</li>
      <li>eat food</li>
      <li>play cricket</li> -->
      

     <% for(var i=0; i<newListItems.length; i++){ %>
          <li> <%= newListItems[i] %> </li>
     <% } %>

  </ul>

<form action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit">Add</button>
</form>

</body>
</html>